#!/bin/zsh

# Path to your oh-my-zsh installation.
export ZSH="{{ ZSH }}"
export ZSH_CUSTOM="{{ ZSH_CUSTOM }}"
DISABLE_AUTO_UPDATE=true
ZSH_THEME="powerlevel10k/powerlevel10k"
DISABLE_MAGIC_FUNCTIONS="true"

plugins=(
	colored-man-pages
	command-not-found
	dirhistory
	kubectl
	docker
	docker-compose
	encode64
	extract
	history
	jsontools
	perms
	sudo
	urltools
	zsh-autosuggestions
	zsh-syntax-highlighting
)
fpath+=${ZSH_CUSTOM:-${ZSH:-~/.oh-my-zsh}/custom}/plugins/zsh-completions/src

source "$ZSH/oh-my-zsh.sh"
source "{{ p10k_path }}"

if (( $+commands[bat] )); then
	READNULLCMD=bat
else
	READNULLCMD=cat
fi

ZLE_RPROMPT_INDENT=0

unsetopt COMPLETE_ALIASES
setopt COMPLETE_IN_WORD

autoload -U zmv

# auto disown bg jobs
setopt NO_HUP
setopt NO_CHECK_JOBS

# zstyle ':completion:*' menu select=2
zstyle ':completion:*' list-dirs-first true
zstyle ':completion:*' sort true
# disable sort when completing options of any command
zstyle ':completion:complete:*:options' sort false
zstyle ':completion:*' file-sort name

# completion groups
zstyle ':completion:*' group-name ''

# completion descriptions
zstyle ':completion:*:options' description 'yes'
zstyle ':completion:*:options' auto-description '%d'
# zstyle ':completion:*:descriptions' format '> %B%d%b'
zstyle ':completion:*:descriptions' format '[%d]'

# Ignore completion functions for commands you don’t have:
zstyle ':completion:*:functions' ignored-patterns '_*'

# wait for new files in $PATH
zstyle ':completion:*' rehash true

zstyle ':autocomplete:*' min-input 3  # int
zstyle ':autocomplete:*' insert-unambiguous yes
zstyle ':autocomplete:*' recent-dirs cdr

unsetopt AUTO_LIST
setopt AUTO_MENU

# Appends every command to the history file once it is executed
setopt inc_append_history
# Reloads the history whenever you use it
setopt share_history

bindkey "\e[9;3~" backward-kill-word
#bindkey "\e[9;2~" backward-kill-line

bindkey "\e[3;5~" kill-word
#bindkey "\e[3;2~" kill-line

# bindkey '^[[5D' backward-word
# bindkey '^[[5C' forward-word

bindkey '^[[1;5C' forward-word
bindkey '^[[1;5D' backward-word

# bindkey ';5D' backward-word
# bindkey ';5C' forward-word

bindkey "^Z" undo
bindkey "^Y" redo
bindkey '^F' history-incremental-search-forward

# comment
bindkey '^_' vi-pound-insert

alias ls="ls --color=always --hyperlink=auto -h --group-directories-first"
alias cp='cp --reflink=auto'
alias cl='clear'
alias dir='dir -F --color=always'
alias dmesg='dmesg -T --color=always'
alias grep='noglob grep -iE'
alias jq='noglob jq'
alias l='\ls -FA --color=always --hyperlink=auto --group-directories-first'
cdl() {
	cd "$@"
	l
}
alias ll='ls -Fl'
alias la='ll -Flah'
alias sl='ls'

alias sudo="sudo "

alias sc="systemctl"
alias ssc="sudo systemctl"
alias scu="systemctl --user"
