#### GENERATED USING ANSIBLE SCRIPT ssh-config.yml
#### Begin ####
{% for host in groups.all | sort() | list %}

{% if host != "localitem" and host != "127.0.0.1" and host != "localhost" %}
Host {{prefix}}{{hostvars[host].inventory_hostname}}
{%- for group in hostvars[host].group_names %}
 {{prefix}}{{group}}.{{ hostvars[host].inventory_hostname -}}
{% endfor %}

{%- if local_names and hostvars[host].ansible_facts %}
 {{prefix}}{{ hostvars[host].ansible_facts['nodename'] -}}
{%- for group in hostvars[host].group_names %}
 {{prefix}}{{group}}.{{ hostvars[host].ansible_facts['nodename'] -}}
{% endfor %}
{% endif %}

  # Groups: {{hostvars[host].group_names}}
{% if hostvars[host].ansible_user is defined and hostvars[host].ansible_user != "" %}
  User {{hostvars[host].ansible_user}}
{% endif %}
{% if hostvars[host].ansible_host is defined and hostvars[host].ansible_host != "" %}
  HostName {{hostvars[host].ansible_host}}
{% else %}  HostName {{hostvars[host].inventory_hostname}}
{% endif -%}
{% if hostvars[host].ansible_ssh_port is defined %}
  Port {{hostvars[host].ansible_ssh_port}}
{% endif %}
{% if hostvars[host].ansible_port is defined %}
  Port {{hostvars[host].ansible_port}}
{% endif %}
{% endif %}
{% endfor %}

Match all
#### End ####
